{% import 'Macro/form.twig' as form %}

{% extends 'layout.twig' %}

{% block body %}
    <div class="container">
    <div class="row">
        <h1>New gift</h1>
            <form action="{{ path_for('newgift', {'token':token }) }}" method="post" enctype="multipart/form-data">
        <div class="lg-6 sm-12">

                {{ form.input('giftlist_id', giftlist_id, 'giftlist_id', '', '','the id','hidden', 1) }}
                {{ form.input('token', token, 'token', '', '','the token','hidden', 1) }}
                {{ form.input('booked', 0, 'booked', '', '','booked','hidden', 1) }}

                {#
                                {% macro input_line(name, value, label, type, class_label, class, required) %}
                                {% macro textarea_line(name, value, label, class_label, class, rows, cols) %}
                #}

                {{ form.input_line('name','', 'Name', 'text', 'sm-3', 'sm-9',1) }}
                {{ form.textarea_line('description','', 'Description','sm-3', 'sm-9', 5) }}
                {{ form.input_line('price','', 'Price','number', 'sm-3','sm-9', 0) }}
                {#{{ form.input('picture','', 'picture', 'Picture','', 'the picture','text', 1) }}#}
                {{ form.input_line('url','', 'Url', 'text', 'sm-3', 'sm-9', 0) }}
        </div>
        <div class="lg-6 sm-12">
            {{ form.input_line('picture','', 'Picture', 'file', 'sm-3', 'sm-9 file', 0) }}

        </div>
                {{ csrf() }}
                <button class="btn btn-blue" type="submit">Add to the list</button>

                {% if has_errors() %}
                    <div class="alert alert-warning">
                        {% for paramErrors in errors() %}
                            {% for error in paramErrors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}
            </form>
    </div>
    </div>
{% endblock %}