{% extends 'layout.twig' %}

{% block body %}
    <div class="mecadoHomeBackground">
        <div class="homeContainer">
            <h1>Log in to your account</h1>
            <form action="{{ path_for('register') }}" method="POST">
                <div class="field{% if has_error('first_name') %} error{% endif %}">
                    <input class="mecadoInput" type="text" name="first_name" placeholder="First name" value="{{ val('first_name') }}">
                </div>
                <div class="field{% if has_error('last_name') %} error{% endif %}">
                    <input class="mecadoInput" type="text" name="last_name" placeholder="Last name" value="{{ val('last_name') }}">
                </div>
                <div class="field{% if has_error('email') %} error{% endif %}">
                    <input class="mecadoInput" type="email" name="email" placeholder="Email" value="{{ val('email') }}">
                </div>
                <div class="field{% if has_error('password') %} error{% endif %}">
                    <input class="mecadoInput" type="password" name="password" placeholder="Password">
                </div>
                <div class="field{% if has_error('password_confirm') %} error{% endif %}">
                    <input class="mecadoInput" type="password" name="password_confirm" placeholder="Confirm password">
                </div>
                {{ csrf() }}
                <input class="mecadoBtn" type="submit" value="Sign Up">
                {% if has_errors() %}
                    <div class="ui error message">
                        {% for paramErrors in errors() %}
                            {% for error in paramErrors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}
            </form>
            <div>
                <p>You already have an account?</p>
                <p><a href="{{ path_for('login') }}">Sign in</a></p>
            </div>
        </div>
    </div>

{% endblock %}
