{% extends 'layout.twig' %}

{% block body %}

    Specific list page


    <h1>{{ list.name }}</h1>
    <p> Day remaining : {{ ((list.date | date('U') - current) / (3600*24)) | round }}</p>
    <h3>{{ list.recipient }}</h3>
    <div>{{ list.description }}</div>
    <br>
    <hr>
    <br>

    {% for gift in gifts %}
        <img src="{{ gift.picture }}">
        <h1>{{ gift.name }}</h1>
        <p>{{ gift.description }}</p>
        <p>{{ gift.price }}</p>
        <button href="#">book</button>
        <button href="#">delete</button>
        <button href="#">modify</button>
        <hr>
    {% endfor %}

    <button href="#">Add new gift</button>
    <p>sharing url : <a href="{{ path_for( 'list', {'token': list.token }) }}"> {{base_url() ~ path_for( 'list', {'token': list.token }) }}</a></p>
{% endblock %}