{% extends 'layout.twig' %}


{% set url = base_url() ~ path_for( 'list', {'token': list.token }) %}

{% block body %}

    Specific list page


    <h1>{{ list.name }}</h1>
    <p> Day remaining : {{ ((list.date | date('U') - current) / (3600*24)) | round }}</p>
    <h3>{{ list.recipient }}</h3>
    <div>{{ list.description }}</div>
    <br>
    <hr>
    <br>

    {% for gift in gifts %}
        <img src="{{ gift.picture }}">
        <h1>{{ gift.name }}</h1>
        <p>{{ gift.description }}</p>
        <p>{{ gift.price }}</p>


        {% if gift.booked %}
            <p> booked </p>
        {% else %}
            <a href="{{ path_for('book',{'token':list.token,'id':gift.id}) }}">book</a>
        {% endif %}

        <button href="#">delete</button>
        <button href="#">modify</button>
        <hr>
    {% endfor %}

    <button href="#">Add new gift</button>
    <p>sharing url : {{ url }}</a></p>
{% endblock %}