{% extends 'layout.twig' %}


{% set url = base_url() ~ path_for( 'list', {'token': list.token }) %}

{% block body %}
    Specific list page


    <h1>{{ list.name }}</h1>
    <p> Day remaining : {{ ((list.date | date('U') - current) / (3600*24)) | round }}</p>
    <h3>{{ list.recipient }}</h3>
    <div>{{ list.description }}</div>
    <br>
    <hr>
    <br>

    {% for gift in list.gift %}
        <img src="{{ gift.picture }}">
        <h1>{{ gift.name }}</h1>
        <p>{{ gift.description }}</p>
        <p>{{ gift.price }}</p>


        {% if gift.booked %}
            <p> booked </p>
            {% for comment in gift.commentgift %}
                <p>{{ comment.author }}</p>
                <p>{{ comment.content }}</p>
            {% endfor %}
        {% else %}
            <form action="{{ path_for('book',{token:list.token,'id':gift.id}) }}" method="POST">
                <div>
                    <input class ="mecadoInput" type="text" name="author" placeholder="Your name">
                </div>
                <div>
                    <input class ="mecadoInput" type="text" name="content" placeholder="Your message for {{ list.recipient }}">
                </div>
                {{ csrf() }}
                <input class="mecadoBtn" type="submit" value="Book">
            </form>
        {% endif %}

        <button href="#">delete</button>
        <button href="#">modify</button>
        <hr>
    {% endfor %}

    <button href="#">Add new gift</button>
    <p>sharing url : {{ url }}</a></p>

    {% for comment in list.commentlist %}
        <p>{{comment.author }}</p>
        <p>{{ comment.content }}</p>
    {% endfor %}

    <form action="{{ path_for('commentList',{token:list.token}) }}" method="POST">
        <div>
            <input class ="mecadoInput" type="text" name="author" placeholder="Your name">
        </div>
        <div>
            <input class ="mecadoInput" type="text" name="content" placeholder="Your message">
        </div>
        {{ csrf() }}
        <input class="mecadoBtn" type="submit" value="Add Comment">
    </form>
{% endblock %}