{% extends 'layout.twig' %}

{% block body %}
    <div class="mecadoContainer">
        <div class="mecadoTitle">
            <h1>My account</h1>
            <p>Check your personal details here.</p>
        </div>

        <div class="mecadoAccountPersonal">
            <h3>Personal details</h3>
            <form action="{{ path_for('myaccount') }}" method="POST" >
                <div>
                    <label for="email">Email</label><br>
                    <input type="email" class="mecadoInput" name="email" id="email" value="{{ auth.user.email }}" disabled>
                </div>
                <div>
                    <label for="firstname">First name</label><br>
                    <input type="text" class="mecadoInput" name="first_name" id="firstname" value="{{ auth.user.first_name }}">
                </div>
                <div>
                    <label for="lastname">Last name</label><br>
                    <input type="text" class="mecadoInput" name="last_name" id="lastname" value="{{ auth.user.last_name }}">
                </div>
                {{ csrf() }}
                <button type="submit" name="change_details" class="mecadoBtn" value="Submit">Update my profile <i class="fa fa-user-md"></i></button>
                {% if has_errors() %}
                    <div class="alert alert-warning">
                        {% for paramErrors in errors() %}
                            {% for error in paramErrors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}
            </form>
        </div>
        <div class="mecadoAccountPassword">
            <h3>Change password</h3>
            <form action="{{ path_for('myaccount') }}" method="POST">
                <div>
                    <label for="password_old">Old password</label><br>
                    <input class="mecadoInput" type="password" name="password_old" id="password_old">
                </div>
                <div>
                    <label for="password">New password</label><br>
                    <input class="mecadoInput" type="password" name="password" id="password">
                </div>
                <div>
                    <label for="password_confirm">Retype new password</label><br>
                    <input class="mecadoInput" type="password" name="password_confirm" id="password_confirm">
                </div>       {{ csrf() }}
                <button type="submit" name="change_pw" class="mecadoBtn"><i class="fa fa-save"></i> Save new password</button>
            </form>

        </div>

        <div class="sm-12 align-center">
            <div>
                <hr>
                <h3>Delete account</h3>
                <form action="{{ path_for('myaccount') }}" method="POST" >
                    {{ csrf() }}
                    <button class="mecadoBtn" type="submit" name="delete_account" value="Delete">Delete my account</button>

                    {% if has_errors() %}
                        <div class="alert alert-warning">
                            {% for paramErrors in errors() %}
                                {% for error in paramErrors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}