{% extends 'layout.twig' %}

{% block body %}
<hr>
    My Lists Page

    {% for list in lists %}
        <h1>{{ list.name }}</h1>
        <p>Day remaining :
            {% if ((list.date | date('U')- current)/(3600*24))|round <= 0 %}
                 0
            {% else %}
                {{ ((list.date | date('U')- current)/(3600*24))|round }}
            {% endif %}
        </p>
        <p>Recipient : {{ list.recipient }}</p>
        <p>{{ list.date }}</p>
        <a href="{{ path_for( 'list', {'token': list.token }) }}">See List</a> | 
        <a href="{{ path_for( 'editmylist', {'token': list.token }) }}">Edit list</a>

        <form action="{{ path_for('deletelist',{'id':list.id}) }}" method="POST">
            {{ csrf() }}
            <input class="mecadoBtn" type="submit" value="Delete">
        </form>

        <hr>
    {% endfor %}

    <a href="{{ path_for('addlist') }}">Add new List</a>
{% endblock %}